<launch>

  <node pkg="costmap_2d" type="costmap_2d_node" respawn="false" name="local_costmap" output="screen">

    <rosparam file="$(find racecar-potential)/config/costmap_common_params.yaml" command="load" />
    <rosparam file="$(find racecar-potential)/config/local_costmap_params.yaml" command="load" />

  </node>

  <node pkg="costmap_2d" type="costmap_2d_node" respawn="false" name="global_costmap" output="screen">

    <rosparam file="$(find racecar-potential)/config/costmap_common_params.yaml" command="load" />
    <rosparam file="$(find racecar-potential)/config/global_costmap_params.yaml" command="load" />

  </node>

  <!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find racecar-nav)/config/rviz_navigation.rviz"/>

</launch>
