<launch>
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(find racecar-nav)/records/teee_2021-01-11-14-21-00_1.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/zed/zed_node/right/image_rect_color"/>
  </node>
</launch>
